#slider-72 .wd-slide {
	min-height: 700px;
}

@media (max-width: 1024px) {
	#slider-72 .wd-slide {
		min-height: 700px;
	}
}

@media (max-width: 768px) {
	#slider-72 .wd-slide {
		min-height: 600px;
	}
}
